<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="logbook">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>Log</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history">
      <ion-icon name="file-tray-full"></ion-icon>
      <ion-label>History</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="callsigns">
      <ion-icon name="book"></ion-icon>
      <ion-label>Callsigns</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
