<ion-header>
  <ion-toolbar>
    <ion-title>
      Log
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-card>
  <ion-card-content>
    <ion-grid>
     <ion-row class="ion-align-items-stretch">
        <ion-col>
          <ion-input 
            [(ngModel)]="form.summit" 
            type="text" id="summitInput" 
            (ionChange)="this.summitCheck($event)" 
            clear-input="true"
            placeholder="Summit Reference">
          </ion-input>
        </ion-col>
        <ion-col>
          <div>
            <ion-select [(ngModel)]="form.mode" placeholder="Mode">
              <ion-select-option *ngFor="let mode of settings.modes" value="{{ mode }}">{{ mode }}</ion-select-option>
            </ion-select>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-stretch">
        <ion-col>
          <div>
            <input 
              [(ngModel)]="form.band" 
              type="number" 
              clear-input="true"
              placeholder="MHz">
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-input 
              [(ngModel)]="form.call" 
              (ionChange)="this.callCheck($event)"
              type="textVisiblePassword" 
              placeholder="Callsign">
            </ion-input>
          </div>
        </ion-col>
     </ion-row>
     <ion-row class="ion-align-items-stretch">
        <ion-col>
          <div>
            <input [(ngModel)]="form.rstGiven" type="number" placeholder="RST TX">
          </div>
        </ion-col>
        <ion-col>
          <div>
            <input [(ngModel)]="form.rstReceived" type="number" placeholder="RST RX">
          </div>
        </ion-col>
     </ion-row>

      <ion-row class="ion-align-items-stretch">
        <ion-col>
          <div>
            <input [(ngModel)]="form.comment" type="text" placeholder="Comment">
          </div>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="form.s2s">
        <ion-col>
          <ion-input 
            [(ngModel)]="form.s2sSummit" 
            type="text" 
            id="s2sInput" 
            (ionChange)="this.summitCheck($event)" 
            placeholder="s2s Summit Reference">
          </ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <ion-item>
              <ion-label>s2s</ion-label>
              <ion-checkbox [(ngModel)]="form.s2s"></ion-checkbox>
            </ion-item>
          </div>
        </ion-col>
        <ion-col> 
          <ion-button color="secondary" expand="block" shape="round" strong="true" (click)="logQso()">
            Add QSO
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
<ion-content>
  <ion-list>
    <ion-list-header>
      Recent QSOs
    </ion-list-header>

    <ion-item *ngFor="let qso of settings.recentQsos; let i = index">
      <ion-label>
        <h2>{{qso.time}} &nbsp; <strong>{{qso.call}}</strong> </h2>
      </ion-label>
      <ion-button (click)="showEditDialog(i)" color="tertiary" shape="round">edit</ion-button>
      <ion-button (click)="deleteQso(i)" color="danger" shape="round">delete</ion-button>
    </ion-item>
  </ion-list>

</ion-content>
