<ion-header>
  <ion-toolbar>
    <ion-title>
      Log
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-card>
  <ion-card-content>
    <ion-grid>
      <ion-row class="ion-align-items-stretch" *ngIf="this.editing">
        <ion-col>
          <input [(ngModel)]="form.date" type="text" placeholder="Date">
        </ion-col>
        <ion-col>
          <div>
            <input [(ngModel)]="form.time" type="text" placeholder="Time">
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-stretch">
        <ion-col>
          <input [(ngModel)]="form.summit" type="text" id="summitInput" (change)="this.summitCheck($event)" placeholder="Summit Reference">
        </ion-col>
        <ion-col>
          <div>
            <ion-select [(ngModel)]="form.mode" placeholder="Mode">
              <ion-select-option>FM</ion-select-option>
              <ion-select-option>SSB</ion-select-option>
              <ion-select-option>CW</ion-select-option>
              <ion-select-option>DATA</ion-select-option>
              <ion-select-option>AM</ion-select-option>
              <ion-select-option>Other</ion-select-option>
            </ion-select>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-stretch">
        <ion-col>
          <div>
            <input [(ngModel)]="form.band" type="number" placeholder="MHz">
          </div>
        </ion-col>
        <ion-col>
          <div>
            <input [(ngModel)]="form.call" (change)="this.callCheck($event)" type="text" placeholder="Their Callsign">
          </div>
        </ion-col>
     </ion-row>
     <ion-row class="ion-align-items-stretch">
        <ion-col>
          <div>
            <input [(ngModel)]="form.rstGiven" type="number" placeholder="RST TX">
          </div>
        </ion-col>
        <ion-col>
          <div>
            <input [(ngModel)]="form.rstReceived" type="number" placeholder="RST RX">
          </div>
        </ion-col>
     </ion-row>

      <ion-row class="ion-align-items-stretch">
        <ion-col>
          <div>
            <input [(ngModel)]="form.comment" type="text" placeholder="Comment">
          </div>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="form.s2s">
        <ion-col>
          <input [(ngModel)]="form.s2sSummit" type="text" id="s2sInput" (change)="this.summitCheck($event)" placeholder="s2s Summit Reference">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <div>
            <ion-item>
              <ion-label>s2s</ion-label>
              <ion-checkbox [(ngModel)]="form.s2s"></ion-checkbox>
            </ion-item>
          </div>
        </ion-col>
        <ion-col> 
          <ion-button color="secondary" expand="block" shape="round" strong="true" (click)="logQso()">
            {{ this.editing ? 'Save QSO' : 'Add QSO' }}
          </ion-button>
        </ion-col>
        <ion-col *ngIf="this.editing"> 
          <ion-button color="tertiary" expand="block" shape="round" strong="true" (click)="resetForm()">
            Cancel 
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
<ion-content>
  <ion-list>
    <ion-list-header>
      Recent QSOs
    </ion-list-header>

    <ion-item *ngFor="let qso of settings.recentQsos; let i = index">
      <ion-label>
        <h2>{{qso.time}} &nbsp; <strong>{{qso.call}}</strong> </h2>
      </ion-label>
      <ion-button (click)="editQso(i)" color="tertiary" shape="round">edit</ion-button>
      <ion-button (click)="deleteQso(i)" color="danger" shape="round">delete</ion-button>
    </ion-item>
  </ion-list>

</ion-content>
