<ion-header class="ion-no-border">
    <ion-grid>
      <ion-row>
        <ion-col>
        <ion-title>Edit QSO</ion-title>
        </ion-col>
        <ion-col>
          <ion-button color="secondary" shape="round" size="small" strong="true" expand="block" (click)="dismissAndSave()">Save QSO</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>   
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating">Time</ion-label>
    <ion-input
      type="text"
      [(ngModel)]="qsoParams.time">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Date</ion-label>
    <ion-input
      type="text"
      [(ngModel)]="qsoParams.date">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">My Summit</ion-label>
    <ion-input
      type="text"
      [(ngModel)]="qsoParams.activatorSummit"
      (ionChange)="summitCheck($event)">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Other Summit</ion-label>
    <ion-input
      type="text"
      [(ngModel)]="qsoParams.chaserSummit"
      (ionChange)="summitCheck($event)">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Callsign</ion-label>
    <ion-input
      type="text"
      [(ngModel)]="qsoParams.callsign"
      (ionChange)="callCheck($event)">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Mode</ion-label>
    <ion-select [(ngModel)]="qsoParams.mode" placeholder="Mode">
      <ion-select-option *ngFor="let mode of settings.modes" value="{{ mode }}">{{ mode }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">MHz</ion-label>
    <ion-input
      type="number"
      [(ngModel)]="qsoParams.band">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">RST TX</ion-label>
    <ion-input
      type="number"
      [(ngModel)]="qsoParams.rstTx">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">RST RX</ion-label>
    <ion-input
      type="number"
      [(ngModel)]="qsoParams.rstRx">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Comment</ion-label>
    <ion-input
      type="text"
      [(ngModel)]="qsoParams.comment">
    </ion-input>
  </ion-item>
</ion-content>
